{
  "jsc": {
    "baseUrl": "./",
    "paths": {
      "@generated/prisma": ["./src/generated/prisma"],
      "@generated/prisma/*": ["./src/generated/prisma/*"],
      "@modules/auth": ["./src/modules/auth/index.ts"],
      "@modules/shared": ["./src/modules/shared/index.ts"],
      "@modules/user": ["./src/modules/user/index.ts"],
      "@modules/org": ["./src/modules/org/index.ts"]
    },
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "es2023",
    "keepClassNames": true
  },
  "module": {
    "type": "commonjs"
  }
}
